{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Share it! - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href = "{% static "logstyle.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap_css.css" %}">
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" id="login-card">
      <div class="card">
        <div class="card-body login-card-body" id="nope">
          <div class="text-center"><h3>Register</h3></div>
          <form method="POST">
            {% csrf_token %}
            <p id = "note" style="color:red">Username must have at least 3 characters, cannot exceed 18 characters.</p>
            <p id = "note" style="color:red">Password must have at least 8 characters, not too similar to username, and not too common.</p>
            <p id = "note" style="color:red">If you still not able to sign up, your username had been used before, so pick another one.</p>
            <div class="input-group mb-3" id="note">
              <div style="width: 10rem;"><b class="mx-4">Username</b></div>
              {{form.username}}
            </div>
            <div class="input-group mb-3" id="note">
              <div style="width: 10rem;"><b class="mx-4">Password</b></div>
              {{form.password1}}
            </div>
            <div class="input-group mb-3" id="note">
              <div style="width: 10rem;"><b>Confirm password</b></div>
              {{form.password2}}
            </div>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block" id="note">Sign Up</button>      
              </div>
              <div class="col-4"></div>
              <div class="col-4">
                <p><a href="{% url "signin" %}" class="text-center" id="note">Login</a></p>
              </div>
            </div>
      
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </div>
  <script>
  {% if messages %}
      {% for message in messages %}
          alert("{{ message|escapejs }}");
      {% endfor %}
  {% endif %}
  </script>  
  <script src="{% static "bootstrap_js.js" %}"></script>
</body>
</html>